venv/
.venv/
__pycache__/
.env
.ipynb_checkpoints
*ipynb
.vscode/
.DS_Store
.ruff_cache/
.python-version
.profile_app.python
*pstats
poetry.lock

eval-queue/
eval-results/
dynamic-info/

src/assets/model_counts.html
