APScheduler==3.10.4
black==24.8.0
click==8.1.7
datasets==3.0.0
huggingface-hub>=0.26.2
pandas==2.2.2
python-dateutil==2.9.0
sentencepiece==0.2.0
transformers==4.46.1
tokenizers>=0.19.0
gradio-space-ci @ git+https://huggingface.co/spaces/Wauplin/gradio-space-ci@0.2.3 # CI !!!
isort==5.13.2
ruff===0.6.4
gradio==4.44.1
gradio[oauth]
gradio_leaderboard==0.0.12
schedule == 1.2.2